.bill__detail{
  padding: 24px;
  .text{
    color: $color-neutral-7;
    font-weight: 500;
  }
  .page-header{
    margin-bottom: 24px;
  }
  .page-header_back{
    margin-bottom: 15px;
  }
  &-flex{
    display: flex;
    justify-content: space-between;
  }
  &-info{
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto auto;
  }
  .item-gutters{
    padding: 0 12px;
  }
  .card-header{
    border-radius:4px 4px 0 0;
  }
  .card-pagi{
    display: flex;
  }
  .btn-pagi{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #EDEEEE;
    text-align: center;
    cursor: pointer;
      i{
        line-height: 32px;
      }
  }
  .disable-next-page{
    pointer-events: none;
  }

  &-title{
    color:$color-neutral-7;
    font-size: 12px;
  }
  &-code{
    color: $color-neutral-10;
    font-weight: bold;
    font-size: 20px;
  }
  &-date{
    color: $color-neutral-10;
    font-size: 14px;
    margin-top: 6px;
  }
  &-status{
    color: $color-neutral-10;
    font-weight: 600;
    font-size: 16px;
    margin-top: 6px;
  }
  &-action{
    .btn-danger {
     color: #F5222D;
      &:hover{
        color: #FFFFFF;
      }
    }
    .btn-primary{
      color: #FFFFFF;
    }
  }
  .card-price{
    padding: 20px 16px;
  }
  .card-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .card-section:not(:last-child){
    border-bottom: 1px solid #E1E2E2;
    margin-bottom: 16px;
  }
  .card-footer{
    justify-content: flex-end;
    border-top: none;
    .pagination-box{
     margin: 0;
    }
    .select_limit_box{
      display: none;
    }
  }

  table{
    tr:last-child{
      td{
        border-bottom: 1px solid $color-neutral-3 ;
      }
    }
  }
  .table-responsive{
    overflow: revert;
  }
  .p-tooltip:after{
    height: auto;
    word-break: break-word;
    width: 250%;
    text-align: center;
  }

}